@page "/upload-file"

@inject IRemoteMediatr Mediator

<PageTitle>Index</PageTitle>

<h1>Hello, RemoteMediatr!</h1>

<InputFile OnChange="LoadFile" />

@if (result is not null)
{
    <div>
        @result
    </div>
}

@code {
    string? result = null;

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.GetMultipleFiles(1).FirstOrDefault();
        if (file is not null)
        {
            using var stream = file.OpenReadStream(100 * 1024 * 1024);
            result = await Mediator.Send(new UploadFileCommand(stream));
        }
    }
}